body{
    font-size: 2vw;
    background-image: url("images/bgrd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

@media screen and (max-width: 750px){
    body{
        font-size: 15px;
    }
}

@media screen and (min-width: 900px){
    body{
       font-size: 18px;
    }
}

hr{
    width: 70%;
    height: .2vw;
    min-height: 1px;
    max-height: 2px;
}

a{
    color: white;
    text-decoration: underline;
}